*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hello {
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.container {
  background-color: grey;
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid black;
  padding: 5px 0;
}

.flags-left {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  color: #fff;
}

.timer {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  margin-right: 1rem;
}

.grid {
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.grid div {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.grid .boom {
  border: 1px solid black;
}

.grid .show-boom {
  opacity: 1;
  position: relative;
  background-color: red;
}

.grid .show-boom::after {
  content: "";
  position: absolute;
  display: block;
  top: 20%;
  left: 20%;
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
}
.grid .show-boom::before {
  content: "";
  position: absolute;
  display: block;
  top: -3%;
  left: -2%;
  width: 30px;
  height: 32px;
  background-color: black;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  border-radius: 50%;
}

.grid .number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #fff;
}

.grid .zero {
  background-color: #43d221;
}

.grid .numbers {
  background-color: blue;
}

.one {
  color: #fff;
}

.two {
  color: greenyellow;
}

.three {
  color: orange;
}

.four {
  color: red;
}

.five {
  color: purple;
}

.grid .flag {
  background-color: grey;
  position: relative;
}

.grid .flag::before {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 20px;
  background-color: black;

  top: 4px;
  left: 5px;
}
.grid .flag::after {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 12px;
  background-color: red;
  clip-path: polygon(100% 50%, 0 0, 0 100%);

  top: 4px;
  left: 8px;
}

.cross {
  background-color: transparent;
}

.game-txt {
  font-size: 2.4rem;
  color: red;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 2px;

  margin-top: 1.5rem;
  padding: 0.5em;
}

#game-restart {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;

  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: unset;
  background-color: lightblue;
  transition: all 0.4s ease-in-out;
}

#game-restart:hover,
#game-restart:focus {
  background-color: black;
  color: lightblue;
}
